#top-bar{
  background: MEDIUMPURPLE;

  ul{
   margin: 0;
   padding: 0;
   list-style: none;

   li{
     display: inline-block;
     margin: 5px;
   }
 }

 a{
   color: #fff;
   font-size: 20px;

   &:hover{
     color: $main-color;
   }
 }
}

#header{
  background: $main-color;
  color: #fff;
  height: 100px;
  font-family: $main-font;
  border-bottom: 1px solid $border-color;

  h1{
    padding:30px 0 0 20px;
    margin: 0;
  }
}

#menu{
    background: MEDIUMPURPLE;
    border-bottom: 1px solid $border-color;

    ul{
      margin: 0;
      padding: 0;

      li{
        display:inline-block;

        a{
          color: #fff;
          display:block;
          padding: 10px 13px;
          text-decoration:none;

          &:hover{
            background: $main-color;
          }
        }
      }
    }
}
