$map : (normal: 12px, bold : 13px, italic : 14px);

@each $i,$f-size in $map{
  .#{$i}{
    font-weight: $i;
    font-size: $f-size;
  }
}

// $list : ((normal, bold, 10px),(emphasis, italic, 15px));
// @each $name, $style, $size in $list{
//   .#{$name}{
//     font-weight: $style;
//     font-size: $size;
//   }
// }
