$container-width : 1200;

@function half($width){
  @return $width/2 + px;
}
@function one-third($width){
  @return $width/3 + px;
}
@function one-fourth($width){
  @return $width/4 + px;
}

.half-width{
  width : half($container-width);
}
.one-third-width{
  width : one-third($container-width);
}
.one-fourth-width{
  width : one-fourth($container-width);
}
