$main-color : crimson;
$border-color: black;
$main-font : arial;

*{
  box-sizing: border-box;
}
body{
  background: slategrey;
  font: 18px/24px $main-font;
}
#wrapper{
  border:1px solid $border-color;
  width: 1000px;
  background: white;
  margin: 0 auto;
}

#top-bar{
  background: MEDIUMPURPLE;

  ul{
   margin: 0;
   padding: 0;
   list-style: none;

   li{
     display: inline-block;
     margin: 5px;
   }
 }

 a{
   color: #fff;
   font-size: 20px;

   &:hover{
     color: $main-color;
   }
 }
}

#header{
  background: $main-color;
  color: #fff;
  height: 100px;
  font-family: $main-font;
  border-bottom: 1px solid $border-color;

  h1{
    padding:30px 0 0 20px;
    margin: 0;
  }
}

#menu{
    background: MEDIUMPURPLE;
    border-bottom: 1px solid $border-color;

    ul{
      margin: 0;
      padding: 0;

      li{
        display:inline-block;

        a{
          color: #fff;
          display:block;
          padding: 10px 13px;
          text-decoration:none;

          &:hover{
            background: $main-color;
          }
        }
      }
    }
}

#content{
  width:795px;
  min-height:500px;
  padding: 15px;
  float:left;
  box-sizing:border-box;
  position:relative;

  h2{
    font-family: $main-font;
  }

  &::selection{
    background: $main-color;
    color: #fff;
  }
}


#sidebar{
  width:200px;
  min-height:500px;
  background: LAVENDER;
  float:right;
  border-left: 1px solid $border-color;
}
#sidebar a{
  text-decoration:none;
  color:black;
}
#sidebar a:hover{
  color: $main-color;
}

#footer{
  background: $main-color;
  color: #fff;
  padding: 5px 10px;
  text-align:right;
  font-size: 14px;
  clear:both;
  border-top: 1px solid $border-color;
}

@media screen and (max-width:1020px){
  #wrapper{
    width:800px;
  }
  #content{
    width:80%;
  }
  #sidebar{
    width:18%
  }
}
@media screen and (max-width:810px){
  #wrapper{
    width:500px;
  }
  #content{
    width:65%;
  }
  #sidebar{
    width:34%
  }
}
@media screen and (max-width:510px){
  #wrapper{
    width:auto;
  }

  #content{
    width:100%;
    float:none;
  }
  #sidebar{
    width:100%;
    float:none;
  }
  #header h1{
    padding:30px 0 0 0;
    text-align:center;
  }
}
